html,
body {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: var(--color-pomb-and-power);
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
}

.root {
  width: 320px;
}
